#Credenciales (mismas que automations/maxinet-sync)

MAXINET_BASE_URL=http://189.206.77.107:8888/maxinetv2
MAXINET_USER=
MAXINET_PASS=

# Ruta local al JSON de la cuenta de servicio de Google (solo para uso local)
GOOGLE_CREDS_PATH=

SPREADSHEET_ID_QUERY=
WORKSHEET_QUERY_NAME=QUERY
