#Credenciales 

MAXINET_BASE_URL=http://189.206.77.107:8888/maxinetv2
MAXINET_USER=
MAXINET_PASS=

# Ruta local al JSON de la cuenta de servicio de Google (solo para uso local)
GOOGLE_CREDS_PATH=

SPREADSHEET_ID=
WORKSHEET_NAME="RESERVAS CP&LP"

SPREADSHEET_ID_SECUNDARIO=
WORKSHEET_FLOTA_LP=FLOTA LP
WORKSHEET_UTILIZACION=UTILIZACION V3
